.dashboard_container {
  width: 100%;
  background-color: black;

  .dashboard_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    img {
      width: 250px;
    }
  }

  .portalStatusText {
    display: flex;
    align-items: center;

    .onlineCircle {
      width: 12px;
      height: 12px;
      background: #00b894;
      border-radius: 50px;
      margin-left: 8px;
    }

    .offlineCircle {
      width: 12px;
      height: 12px;
      background: #ff7675;
      border-radius: 50px;
      margin-left: 8px;
    }
  }

  .dashboard_inner_container {
    color: #fff;

    .order_cards_container {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        background-color: "#00b894";
        transition: all 0.3s;
        border: none;
        height: 110px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18rem;
      }

      .card:hover {
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 3px 0px rgb(255, 255, 255);
        -moz-box-shadow: 2px 2px 3px 0px rgb(202, 202, 202);
        box-shadow: 2px 2px 3px 0px rgb(202, 202, 202);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: solid #4f4f4f;
    padding: 30px;

    .footer_btn {
      text-decoration: none;
      background-color: #4f4f4f;
      color: rgb(199, 196, 196);
      padding: 5px;
      border-radius: 5px;
      margin-right: 10px;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #383737;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .dashboard_container {
    .dashboard_inner_container {
      h3 {
        font-size: 1.5rem;
      }
      .order_cards_container {
        .card {
          height: 48px;
          margin: 5px;

          h3 {
            font-size: 20px;
          }
        }
      }
    }
    .footer {
      flex-direction: column-reverse;
      align-items: center;
      img {
        margin-top: 20px;
      }
    }
  }
}
