.loaderContainer {
  height: 100vh;
  background-color: black;
  /* background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg"); */
  background-size: cover;
}

.loaderInnerContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4f4f4f;
    backdrop-filter: blur(12px);
}

.overlay_container img {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}
