/* * {
  color: #ededed;
} */

.mainContainer {
  padding-top: 50px;
}
.cardContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: "#00b894";
  transition: all 0.3s;
  border: none;
  height: 110px;
  margin:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 3px 0px rgb(255, 255, 255);
  -moz-box-shadow: 2px 2px 3px 0px rgb(202, 202, 202);
  box-shadow: 2px 2px 3px 0px rgb(202, 202, 202);
}

.cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3Styles {
  margin-right: 23px;
  margin-top: 5px;
}

.footer {
  border-top: 0.5px solid #4f4f4f;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 10px;

}

.bottomBar{
  width: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottomBar .footer_btn{
  background: #4f4f4f;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.bottomBar .footer_btn:hover {
  background-color: #5f5f5f;
}
.loginCard {
  margin:auto;
  max-width: 480px !important;
  width: 480px;
  background:black;
}
.loginCard img {
  width: 140px;
  margin:auto;
 
}

.order_card {
  width: 200px;
    padding: 10px;
   background: #81ecec;
   margin-bottom: 18px;
   cursor: pointer;
}

.order_card p {
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

.order_card .client_name{
  font-size: 12px;
  position: absolute;
  top: -13px;
  left: 45px;
  background: white;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.125);
}

.order_card .order_time{
  font-size: 8px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: white;
  padding: 2px;
  border-radius: 5px;
}

.no_orderMsg {
  font-size: 22px;
  text-align: center;
}

.orderListContainer {
  padding-top: 40px;
  max-width: 300px;
}

.orderListContainer h5{
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: solid 0.5px #4f4f4f;
}

.workerPanelHeader {
  border-bottom: solid 1px #4f4f4f;
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;

}

.orderRowsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  border:none !important;
  background:#4f4f4f !important;
}

.link {
  text-decoration: none !important;
  cursor: pointer !important;
  color: #4f4f4f ;
}

.orderRow_btnContainer {
  margin-left: 15px;
}

.orderRow_btnContainer>button {
  margin-bottom: 15px;
}

.orderRowBtn {
  background: #4f4f4f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 85px;
}

.appOnlineStatusBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4f4f4f;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}

.appOffileStatusBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ff7675;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}

.appOnlineStatusBtn div{
  width: 12px;
  height: 12px;
  background: #55efc4;
  border-radius: 50px;
  margin-left: 15px;
}
.appOffileStatusBtn div{
  width: 12px;
  height: 12px;
  background: #b2bec3;
  border-radius: 50px;
  margin-left: 15px;
}

.workerPanelHeaderBtnContainer {
  display: flex;
}
.workerPanelHeaderBtnContainerLogoutBtn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e17055;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 15px;
}

.onlineCircle {
  width: 12px;
  height: 12px;
  background: #00b894;
  border-radius: 50px;
  margin-left: 8px;
}

.offlineCircle {
  width: 12px;
  height: 12px;
  background: #ff7675;
  border-radius: 50px;
  margin-left: 8px;
}

.portalStatusText {
  display: flex;
    align-items: center;
}

.orderListInnerContainer {
  max-height: 582px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 15px;
}

.loaderContainer {
    height: 100vh;
    background-color: black;
    /* background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg"); */
    background-size: cover;
}

.loaderInnerContainer {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4f4f4f;
      backdrop-filter: blur(12px);
}


.overlay_container img {
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
